<h1 class="listheader">Menu List</h1>
<div class="error"></div>

<div class="form-group">
  <label class="search-text" for="search-text">Search Item</label>
  <form [formGroup]="searchForm">
    <input formControlName="search" class="form-control" />
  </form>
  <!-- <svg class="search-text" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg> -->
</div>
<div
  *ngFor="let menulist of menus | appFilter: searchForm.value.search"
  class="col-xs-4 col-md-3"
>
  <a routerLink="/menu/{{ menulist._id }}">
    <div>
      <div
        [ngStyle]="{ 'background-image': 'url( ' + menulist.image + ')' }"
        class="thumb listing-poster"
      ></div>
    </div>
    &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
    <h4 class="thumb__title">{{ menulist.name }}</h4>
  </a>
</div>
