<div class="reviews">
  <h1>What Our Customers Say ?</h1>
  <!-- <p id="p"></p> -->
  <div class="row">
    <div class="review-col">
      <img src="../../assets/images/pic-1.png" alt="" />
      <div>
        <p>
          Delicious food, waiters are very attentive, and super nice atmosphere.
          Plus it's all at an affordable price. Can totally recommend it and
          will definitely come back again.
        </p>
        <h3>Christine Berkley</h3>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="review-col">
      <img src="../../assets/images/pic-2.png" alt="" />
      <div>
        <p>
          Excellent food. Menu is extensive and seasonal to a particularly high
          standard. Definitely fine dining. It can be expensive but worth it and
          they do different deals on different nights so it's worth checking
          them out before you book. Highly recommended.
        </p>
        <h3>David Byer</h3>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
    </div>
    <div class="review-col">
      <img src="../../assets/images/pic-3.png" alt="" />
      <div>
        <p>
          I had breakfast there this morning and dinner tonight. All were well
          beyond my expectations. Everything is so fresh. Best clam chowder I
          have ever had. Clams and linguine were out of this world. Breakfast
          will knock your slippers off.
        </p>
        <h3>Hardin Scott</h3>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
</div>
