extends layout

block content
  app-menu-list
  //- h1.listheader= title
  
  //- each menulist in menus  
  //-   a(href=`/menu/${menulist._id}`)
  //-     h4 #{menulist.name} - #{menulist.type} 
      
      