<div class="about" id="about">
  <h3 class="sub-heading">About Us</h3>
  <h1 class="heading">WHY CHOOSE US?</h1>

  <div class="row">
    <div class="image">
      <img src="../../assets/images/about-img.png   " alt="" />
    </div>

    <div class="content">
      <h3>Best Food In The Country</h3>
      <p>
        Customers use our platform to search and discover about new dishes, read
        and write customer generated reviews, view and upload photos. Book table
        and easy payment service.
      </p>
      <p>
        We provide a reliable, fast and free delivery service. Moreover, all the
        services are available 24/7.
      </p>
      <div class="icons-container">
        <div class="icons">
          <i class="fas fa-shipping-fast"></i>
          <span>Free delivery</span>
        </div>
        <div class="icons">
          <i class="fas fa-dollar-sign"></i>
          <span>Easy payments</span>
        </div>
        <div class="icons">
          <i class="fas fa-headset"></i>
          <span>24/7 Service</span>
        </div>
      </div>
      <a href="#" class="btn">Learn More</a>
    </div>
  </div>
</div>
